# These libraries are needed to make the program work.
# Run this in terminal:
# pip3 install -r requirements.txt
#               OR
# python3.7 -m pip install -r requirements.txt

selenium==3.141.0
spacy==2.3.5
git+https://github.com/gunthercox/ChatterBot.git@master
